.pop-up-wrapper {
  // transform: scale(0); 
  display: inline-block;
  position: fixed;
  top: 1rem;
  right: 2rem;
  padding: 0.8rem 2rem;
  background: #26b326;
  color: white;
  font-weight: bold;

  &.active {
    transform: scale(1); 
  }

  &.fade-in {
    animation: fade-in 4s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;
  }

  p {
    margin: 0;
  }
}

@keyframes fade-in {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

