.App {
  text-align: center;
}

button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  transition: opacity 200ms;

  &:hover {
    opacity: 0.8;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
