.App {
  text-align: center;
  display: flex;
    flex-direction: column;
}

.login-wrapper {
  width: 100vw;
  height: 100%;
  position: absolute;
  background: rgba(255,255,255,0.75);
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
}
